{% extends 'base.html.twig' %}

{% block title %}PhpFunction{% endblock %}

{% block body %}
    <h1>PhpFunction</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ php_function.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ php_function.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ php_function.slug }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ php_function.description }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ php_function.text }}</td>
            </tr>
            <tr>
                <th>Visibility</th>
                <td>{{ php_function.visibility ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ php_function.createdAt ? php_function.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ php_function.updatedAt ? php_function.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_php_function_index') }}">back to list</a>

    <a href="{{ path('app_php_function_edit', {'id': php_function.id}) }}">edit</a>

    {{ include('php_function/_delete_form.html.twig') }}
{% endblock %}
